GROQ_API_KEY=your_groq_api_key_here
OPENWA_API_URL=http://openwa-gateway:2785
OPENWA_API_KEY=your_openwa_api_key_here
OPENWA_SESSION_ID=default
DEFAULT_LAT=10.6541474
DEFAULT_LON=76.7359742
DEFAULT_VOICE=en-IN-NeerjaNeural
